body {
    margin: 0;
    padding: 0;
}

header {
    width: 1440px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 30;
}

ul {
    padding: 0;
}

.header-logo {
    padding-left: 38px;
    font-size: 56px;
}

.header-logo a {
    font-family: "Hiragino Kaku Gothic ProN";
}
.drawer_toggle img {
    display: none;
}
.nav ul {
    float: left;
    margin-right: 30px;
}

.nav li {
    list-style: none;
    float: left;
    margin: 0 20px;
    color: rgb(12, 12, 12);
}
#drawer_toggle {
    float: right;
}
.nav-sp {
    width: 768px;
    height: 1900px;
    opacity: 0.8;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
    position: fixed;
    font-size: 56px;
    text-align: center;
    display: none;
}

.top-wrap {
    width: 1440px;
    height: 820px;
    background-image: url('../image/headback.png');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: 20;
}

.top-wrap p {
    position: absolute;
    top: 50px;
    right: 293px;
    left: 292px;
    font-size: 96px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Serif JP', serif;
    width: 1000px;
}

.containar {
    width: 1440px;
    height: 1780px;
    background-color: #D9D9D9;
}

.containar-box-1 {
    width: 1118px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding-left: 152px;
    padding-top: 70px;
}

.containar-box-1-text {
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-left: 0 auto;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.containar-box-2 {
    width: 1118px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding-left: 152px;
    padding-top: 128px;
}

.containar-box-2-text {
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-right: 0 auto;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.containar-box-2-img img {
    width: 450px;
    height: 450px;
}


.containar-box-3 {
    width: 1118px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding-left: 152px;
    padding-top: 128px;
}

.containar-box-3-text {
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-left: 0 auto;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.contents {
    width: 1440px;
    height: 1040px;
    background-repeat: no-repeat;
    background-image: url('../image/IMG_9642.png');
    background-size: cover;
}

.contents-img {
    width: 600px;
    height: 100px;
    background-color: #92C492;
    border-radius: 60px;
    margin-left: 420px;
    margin-top:842px;
    color: rgb(255, 255, 255);
    font-size: 57px;
}

footer {
    width: 1440px;
    height: 128px;
    background-color: #C3BCBC;
}

@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（スマホ用） */
    body {
        width: 768px;
    }
    header {
        width: 768px;
    }
    .top-wrap {
        background-size: cover;
        position: relative;
        width: auto;
        height: 500px;
    }
    .nav {
        display: none;
    }
    #drawer_toggle {
        float: right;
    }
    .nav-sp.open {
        width: 768px;
        height: 1900px;
        opacity: 0.8;
        background-color: #FFFFFF;
        display: flex;
        flex-flow: column;
        position: fixed;
        font-size: 56px;
        text-align: center;
        display: none;
    }
    .top-wrap p {
        font-size: 48px;
        left: 184px;
    }
    .containar {
        width: 100%;
        height: 180%;

    }
    .containar-box-1{
        width: 40%;
        height: 20%;
        flex-direction: column-reverse;
        margin: auto;
        padding: 0;
    }
    .containar-box-1-text {
        font-size: 25px;
    }
    .containar-box-1-img img {
        width: 100%;
        height: auto;
    }
    .containar-box-2 {
        width: 40%;
        height: 20%;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    .containar-box-2-text {
        font-size: 25px;
    }
    .containar-box-2-img img {
        width: 100%;
        height: auto;
    }
    .containar-box-3 {
        width: 40%;
        height: 20%;
        align-items: center;
        flex-direction: column-reverse;
        margin: auto;
        padding: 0;

    }
    .containar-box-3-text {
        font-size: 25px;
    }
    .containar-box-3-img img {
        width: 100%;
        height: auto;
    }
    .contents {
        width: 100%;
        height: auto;
        background-size: cover
    }
    .contents-img {
        margin-left: 165px;
        margin-top: 330px;
        width: 60%;
        height: auto;
    }
    footer {
        width: 100%;
        height: 60px;
    }
}
