body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 30;
    top: 0;
}

ul {
    padding: 0;
}

.header-logo {
    padding-left: 38px;
    font-size: 56px;
}

.header-logo img {
    position: absolute;
    width: 69px;
    height: auto;
    top: 1%;
    left: 5%;
}
#drawer_toggle {
    display: none;
    float: right;
}

.nav {
    margin-right: 6%;
    margin-top: 2%;
}
.nav ul {
    float: left;
}

.nav li {
    list-style: none;
    float: left;
    margin: 0 20px;
    color: rgb(12, 12, 12);
}

.nav-sp {
    width: 100%;
    height: 1900px;
    opacity: 0.8;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
    position: fixed;
    font-size: 56px;
    text-align: center;
    display: none;
}

.top-wrap {
    width: 100%;
    height: 820px;
    background-image: url('../image/headback.png');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: 20;
    text-align: -webkit-center;

}

.top-wrap p {
    font-size: 96px;
    color: #FFFFFF;
    font-family: 'Noto Serif JP', serif;
    width: 1000px;
    position: relative;
    padding-top: 10%;
}

.main {
    width: 100%;
    height: 1680px;
    background-color: #D9D9D9;
}

.main-box-1 {
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 6% 0 3%;
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 2000ms; /* フェードインにかかる時間を指定 */
}

.main-box-1-text {
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-left: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.main-box-2 {
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 3% 0 3%;
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 4000ms; /* フェードインにかかる時間を指定 */
}

.main-box-2-text {
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-right: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.main-box-2-img img {
    width: 450px;
    height: 450px;
}


.main-box-3 {
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 3% 0 6%;
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 8000ms; /* フェードインにかかる時間を指定 */
}

.main-box-3-text {
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 26px;
    padding-left: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.contents {
    width: 100%;
    height: 1040px;
    background-repeat: no-repeat;
    background-image: url('../image/IMG_9642.png');
    background-size: cover;
    text-align: center;
}

.contents-img {
    width: 600px;
    height: 100px;
    background-color: #92C492;
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 57px;
    position: relative;
    top: 80%;
}

footer {
    width: 100%;
    height: 128px;
    background-color: #C3BCBC;
}

@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（スマホ用） */
    body {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .top-wrap {
        background-size: cover;
        position: relative;
        width: 100%;
        height: 400px;
    }
    .nav {
        display: none;
    }
    #drawer_toggle {
        display: block;
        float: right;
        z-index: 100;
        margin-top: 4%;
        margin-right: 4%;
    }
    .nav-sp.open {
        width: 100%;
        height: 1900px;
        opacity: 0.8;
        background-color: #FFFFFF;
        display: flex;
        flex-flow: column;
        position: fixed;
        font-size: 56px;
        text-align: center;
        display: none;
    }
    .top-wrap p {
        font-size: 48px;
        width: 50%;
    }
    .main {
        width: 100%;
        height: 180%;

    }
    .main-box-1{
        width: 40%;
        height: 20%;
        flex-direction: column-reverse;
        margin: auto;
        align-items: center;
        padding: 3% 0 3%;
    }
    .main-box-1-text {
        font-size: 100%;
    }
    .main-box-1-img img {
        width: 100%;
        height: auto;
    }
    .main-box-2 {
        width: 40%;
        height: 20%;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: 3% 0 3%;
    }
    .main-box-2-text {
        font-size: 100%;
    }
    .main-box-2-img img {
        width: 100%;
        height: auto;
    }
    .main-box-3 {
        width: 40%;
        height: 20%;
        align-items: center;
        flex-direction: column-reverse;
        margin: auto;
        padding: 3% 0 3%;
    }
    .main-box-3-text {
        font-size: 100%;
    }
    .main-box-3-img img {
        width: 100%;
        height: auto;
    }
    .contents {
        width: 100%;
        height: 500px;
        background-size: cover;
        text-align: justify;
    }
    .contents-img {
        width: 60%;
        height: auto;
        align-items: center;
        font-size: 100%;
        position: relative;
        top: 80%;
        left: 20%;
        margin: 0;
    }
    footer {
        width: 100%;
        height: 60px;
    }
}
